@{
    ViewData["Title"] = "Confirmação de apagar contato";
}

<div class="text-center">
    <h3>Realmente deja apagar o contato (Henry) ?</h3>
</div>

<a class="btn btn-primary btn-block" role="button" asp-Controller="Contato" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-primary btn-block" role="button" asp-Controller="Contato" asp-action="Apagar">Confirmar exclusão</a>